*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.videoWrapper {
    min-width: 350px;
    margin: 0 auto;
}

.transcript {
    margin: 0 auto;
    display: block;
    width: 300px;
    text-align: left;
}


/* ================================= 
  Media Query
==================================== */


/* 768 px or wider */
@media (min-width: 768px) {
    
     .transcript {
        margin: 0 auto;
        display: block;
        width: 765px;
        text-align: left;
    }
    
     .wrapper {
        margin-top: 20px;
    }
    

    .videoWrapper {
       margin-top: 10px;
       max-width: 800px;
       max-height: 480px;
       margin: 0 auto;

    }
  
}
    








